{%extends 'admin/admin.html'%}
{%block content%}
<section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 权限管理</a></li>
                <li class="active">添加权限</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改权限</h3>
                        </div>
                        <form role="form" method="post">
                            <div class="box-body">
                            {% with msg = get_flashed_messages(category_filter=["ok"]) %}
                            {%if msg%}
                            {%for info in msg%}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-check"></i>修改成功！</h4>
                                {{info}}
                              </div>
                            {%endfor%}
                            {%endif%}
                            {%endwith%}
                                {% with msg = get_flashed_messages(category_filter=["err"]) %}
                            {%if msg%}
                            {%for info in msg%}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-warning"></i> 操作失败!</h4>
                                {{info}}
                              </div>
                            {%endfor%}
                            {%endif%}
                            {%endwith%}
                                <div class="form-group">
                                    <label for="input_name">{{form.name.label}}</label>
                                    {{form.name}}
                                     {% for err in form.name.errors %}
                                    <div class="col-md-12">
                                        <font style="color:red">{{err}}</font>
                                    </div>
                                    {%endfor%}
<!--                                    <input type="text" class="form-control" id="input_name" placeholder="请输入权限名称！">-->
                                </div>
                                <div class="form-group">
                                    <label for="input_url">{{form.name.url}}</label>
                                    {{form.url}}
                                     {% for err in form.url.errors %}
                                    <div class="col-md-12">
                                        <font style="color:red">{{err}}</font>
                                    </div>
                                    {%endfor%}
<!--                                    <input type="text" class="form-control" id="input_url" placeholder="请输入权限地址！">-->
                                </div>
                            </div>
                            <div class="box-footer">
<!--                                <button type="submit" class="btn btn-primary">添加</button>-->
                                {{form.csrf_token}}
                                {{form.submit_edit}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{%endblock%}
{%block js%}
<script>
    $(document).ready(function(){
        $("#g-9").addClass("active");
        $("#g-9-1").addClass("active");
    });
</script>
{%endblock%}